parameters:
	ignoreErrors:
		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 2
			path: app/Handlers/Content/PageHandler.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 2
			path: app/Handlers/Content/PostHandler.php

		-
			message: '#^Binary operation "\." between non\-falsy\-string and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 2
			path: app/Handlers/Media/MediaHandler.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 1
			path: app/Handlers/Media/MediaHandler.php

		-
			message: '#^Parameter \#1 \$callback of function array_map expects \(callable\(mixed\)\: mixed\)\|null, ''intval'' given\.$#'
			identifier: argument.type
			count: 1
			path: app/Handlers/Media/MediaHandler.php

		-
			message: '#^Parameter \#2 \$height of function imagecreatetruecolor expects int\<1, max\>, int given\.$#'
			identifier: argument.type
			count: 1
			path: app/Handlers/Media/MediaHandler.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 2
			path: app/Handlers/Settings/PluginHandler.php

		-
			message: '#^Strict comparison using \=\=\= between mixed and false will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: app/Handlers/Settings/PluginUploadHandler.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 1
			path: config/api.php
