parameters:
	ignoreErrors:
		-
			message: '#^Binary operation "\." between non\-falsy\-string and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: app/Handlers/Media/MediaHandler.php
